@{Layout = "Views/Shared/_Layout.cshtml";}
<h1>Cinema Scene</h1>
<h2>Movie: @Model["movie"].GetTitle()</h2>
<hr />
@if (@Model["movieTheaters"].Count != 0)
{
  <h2>This movie is playing at these theaters</h2>
  <h4>Please select which theater you want to buy the ticket from:</h4>
  <ul>
    @foreach (var theater in @Model["movieTheaters"])
    {
      <li><strong>Venue:</strong> <a href="/customer/select/user/@Model["user"].GetId()/@Model["movie"].GetId()/@theater.GetId()">@theater.GetLocation()</a>, <strong>ShowTime:</strong> @theater.GetDateTime()</li>
    }
  </ul>
}

<a href="/" class="btn btn-default">Return to Main Page</a>
