<h1>Cinema Scene</h1>
<h2>Movie: @Model["movie"].GetTitle()</h2>
<hr />
@if (@Model["movieTheaters"].Count != 0)
{
  <h4>This movie is playing at these theaters:</h4>
  <ul>
    @foreach (var theater in @Model["movieTheaters"])
    {
      <li><strong>Venue:</strong> @theater.GetLocation(), <strong>ShowTime:</strong> @theater.GetDateTime()</li>
    }
  </ul>
}


<p><a href="/">Home</a></p>
