@{Layout = "Views/Shared/_Layout.cshtml";}
<h1>Cinema Scene</h1>
<h2>Scene: @Model["theater"].GetLocation()</h2>
<hr />
@if (@Model["theaterMovies"].Count != 0)
{
  <h4>Here are all the movies playing at this theater:</h4>
  <ul>
    @foreach (var movie in @Model["theaterMovies"])
    {
      <li><strong>Title:</strong> @movie.GetTitle(), <strong>Rating:</strong> @movie.GetRating()</li>
    }
  </ul>
}

<a href="/" class="btn btn-default">Return to Main Page</a>
